<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - labOne</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/labOne.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container d-flex justify-content-between">
                <div class="logo-container bg-dark p-3 border rounded">
                    <a class="navbar-brand text-light" asp-area="" asp-page="/Index">L A B_O N E</a>
                </div>
                <div class="date-display">
                    <p>Dagens datum är: @DateTime.Now.ToString("yyyy-MM-dd")</p> <!--display date-->
                </div>
                <!-- mobile menu button -->
                <button class="navbar-toggler menu-toggle" type="button" onclick="toggleMenu()">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <!-- mavigation on the left -->
                <div class="sidenav bg-dark" id="mobSidenav">
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-start" id="menu">
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/Index">Start</a>
                        </li>
                        <li>
                            <a class="nav-link text-light" href="/Razor">Razor</a>
                        </li>
                        <li>
                            <a class="nav-link text-light" href="/About">Om sidan</a>
                        </li>
                    </ul>
                </div>
            </div>
            <main role="main" class="pb-3 col-xl">
                @RenderBody()
            </main>
            <div class="col"></div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            Av Aleksandra Kuzeleva - Kontakta mig via e-post alku2200@student.miun.se
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
