@page
@model labOne.Pages.AboutModel
@{
}
<h1>Om mig</h1>
<p>
    Om mig

    Jag heter Aleksandra Kuzeleva, jag bor i Eskilstuna med min man och vår dotter (och tio fiskar i akvariet också). Just nu läser jag sista året på webbutvecklingsprogrammet på Mittuniversitetet. 
    På min fritid tycker jag om att cykla MTB i skogen i närheten, vandra, titta på skräckfilmer och lyssna på all sorts musik.
</p>