@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Here will be free to choose information just about anything. 
        While I am yet to decide what  kind of information it will be you will see this placeholder. No worries, this is temporary. Here will be free to choose information just about anything.
        While I am yet to decide what  kind of information it will be you will see this placeholder. No worries, this is temporary.
        Here will be free to choose information just about anything.
        While I am yet to decide what  kind of information it will be you will see this placeholder. No worries, this is temporary.
    </p>
</div>
