@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>For now it just a free index page text here.mFor now it just a free index page text here. For now it just a free index page text here. For now it just a free index page text here. 
        For now it just a free index page text here.

        For now it just a free index page text here.
        For now it just a free index page text here.

        For now it just a free index page text here.

        For now it just a free index page text here.
    </p>
</div>
