@page
@model LabOne.Pages.RazorModel
@{
    //variable for the current date
    var today = DateTime.Now;
    //variable for weekday
    var weekDay = today.DayOfWeek;
    //this will be true if weekDay is monday
    var checkMonday = weekDay == DayOfWeek.Monday;
    //list with all the courses
    var courses = new List<string> { "dt057g, Webbutveckling I", "dt071g, Programmering med C#", "DT197G, Webbdesign för CMS", "IK060G, Projektledning", "DT173G, Webbutveckling III", "DT093G, Webbutveckling II", " DT193G, Fullstacks-utveckling med ramverk", "DT162G, Javascriptbaserad webbutveckling" };
  
}

<h1>RAZOR</h1>
<h2>Information</h2>
<p><strong>Datum och klockslag:</strong> @today</p>
@if (checkMonday) //print the following if checkmonday is true
{
    <p>Idag är det måndag</p>
}
else //otherwise print the following
{
    <p>Idag är det inte måndag</p>
}

<h3>Kurser jag har läst:</h3>
<ul>
    @foreach (var course in courses) //go through courses and print each course as list element
    {
        <li>@course</li>
    }
</ul>




